<div id="notes-display">
  <% @notes.each do |note| %>
    <div class="card shadow rounded">
      <div class="card-body">
        <%= link_to note.title, note_path(note) %>
        <hr class="hr-light">
        <div class="buttons d-flex">
        <%= link_to "Edit", edit_note_path(note), :class => 'btn btn-primary' %>
        <%= button_to "Delete", note, :method => :delete, :class => 'btn btn-secondary' %>
         </div>
      </div>
    </div>
  <% end %>
</div>
