.main-content {
  width: 90%;
  margin: 5% auto;
}

body {
  background-color: #aeaeae;
  margin: 0;

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: grey;
    text-decoration: none;
  }

  hr {
    border-top: 1px solid #343a40;
  }

  #flash-msg {
    padding: 1%;
  }

  header {
    margin-bottom: 1%;
  }
}
