
<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
  <%= link_to 'QuickNotes', root_path, class: 'navbar-brand' %>
  <ul class="navbar-nav ml-auto">
      <li class='nav-item'> <%= link_to 'Create New Note', new_note_url, class: 'nav-link' %></li>
  </ul>
</nav>
